.footer {
  align-items: center;
  background-color: var(--main-color);
  bottom: 0%;
  box-sizing: border-box;
  display: flex;
  height: 3rem;
  justify-content: space-around;
  padding: 0.5rem 1.7rem;
  position: fixed;
  width: 100%;
}

.footer a {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding-top: 0.2rem;
}

.footer img {
  filter: invert(100%);
  height: var(--icons-size);
}
